@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blog Application</h1>
    <p class="lead">Blog Application using ASP.NET MVC and Mongodb</p>
    <p><a href="@Url.Action("Index","Blog")" class="btn btn-primary btn-lg">View All Post <i class="fa fa-arrow-right"></i></a></p>
</div>

