@{
    ViewBag.Title = "Success";
}

<div class="jumbotron text-center">
    <h1>Thank You</h1>
    <p>Thank you for contacting us.We will contact as soon as possible</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","Home")">Go To Home</a></p>
</div>

